:root {
  --main-font: "Open Sans", sans-serif;
  --header-color: #24292e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav.tabs {
  border-bottom: 1px solid #e1e4e8;
  padding: 10px 20px;
  text-align: center;
}

.tabs a {
  text-decoration: none;
  color: #24292e;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 13px;
  padding: 8px 18px;
}

a.active {
  position: relative;
}

.tabs a.active::after {
  content: "";
  background-color: #f9826c;
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: -2px;
  left: 0;
  transform: translate(0, 0);
}

.count {
  background: #ccc;
  padding: 0px 6px;
  font-size: 12px;
  color: #000;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: 2em;
  font-family: var(--main-font);
}

.main {
  padding: 0px 80px;
}

header {
  width: 100%;
}

section.main {
  display: flex;
  flex-flow: row nowrap;
}

.profile-details {
  width: 250px;
  position: relative;
}

.profile-img-con {
  position: relative;
  height: 230px;
}

.img {
  width: 100%;
  border-radius: 100%;
  position: relative;
  top: -25px;
  z-index: 1;
}

.profile-emoji {
  border: 0.05rem solid #ccc;
  position: absolute;
  border-radius: 100%;
  right: 0;
  z-index: 2;
  background: #fff;
  padding: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  transform: translate(-7px, -85px);
  cursor: pointer;
}

.profile-emoji .emoji {
  font-size: 12px;
  cursor: pointer;
}

.profile-name {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 21px;
}
.user-name {
  color: #586069;
  font-size: 17px;
  font-family: var(--main-font);
  font-weight: 300;
}

.bio {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font);
}

.repo-container {
  flex: 1;
  /* border: 2px solid purple; */
  padding: 10px 15px;
}

.list-item {
  padding: 15px 20px;
  list-style: none;
  border-bottom: 1px solid #e1e4e8;
}

.repo-name {
  font-family: var(--main-font);
  color: #0366d6;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 5px;
  cursor: pointer;
}

.repo-name:hover {
  text-decoration: underline;
}

.repo-info {
  margin: 5px;
  font-size: 11px;
  color: #586069;
  font-weight: 400;
  font-family: var(--main-font);
}

.list-item-info {
  padding: 5px 0;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.language-color {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  border-radius: 100%;
}
.info-item {
  display: inline-block;
  margin: 0 5px;
  /* border: 2px solid green; */
  font-size: 11px;
  color: #959da5;
  font-weight: 400;
  font-family: var(--main-font);
}
